services:
  homepage:
    build: .
    container_name: heuralabs-site
    restart: unless-stopped
    networks:
      - internal
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /var/cache/nginx:uid=101,gid=101
      - /var/run:uid=101,gid=101
      - /tmp

networks:
  internal:
    name: heuralabs-net
    external: true
